.main {
  margin: 10px;
}

ul {
  list-style: square;
  -webkit-padding-start: 10px;
}

.bookmark-item{
  margin-top: 6px;
}

.note {
  color: #bbb;
  font-style: italic;
  margin-left: 6px;
}

.alert-warning {
  padding: 6px 30px 6px 10px;
  margin: 14px 0 0 0;
}
.alert-warning a{
  text-decoration: underline;
  cursor: pointer;
}
